<div class="container center-container">
  <div class="header-container">
    <h1 class="header-title">
      {{ viagem ? viagem.nome : '' }}
    </h1>
    <button class="status-button" [ngClass]="getStatusButtonClass()">
      {{ getStatusButtonText() }}
    </button>
  </div>
  <div class="details-container">
    <form>
      <div *ngIf="viagem">
        <div class="form-group">
          <label>Data Inicial</label>
          <input type="date" name="dataInicial" [(ngModel)]="viagem.dataInicial" required (input)="editarDataInicial">
        </div>

        <div class="form-group">
          <label>Data Final</label>
          <input type="date" name="dataFinal" [(ngModel)]="viagem.dataFinal" required (input)="editarDataFinal">
        </div>

        <div class="form-pair">
          <div class="form-group">
            <label>Valor Previsto para Alimentação (BRL)</label>
            <input
            type="text"
            name="valorPrevistoAlimentacao"
            [(ngModel)]="viagem.valorPrevistoAlimentacao"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            required>
          </div>

          <div class="form-group">
            <label>Valor Gasto com Alimentação (BRL)</label>
            <input
            type="text"
            name="valorGastoAlimentacao"
            [(ngModel)]="viagem.valorGastoAlimentacao"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            >
          </div>
        </div>

        <div class="form-pair">
          <div class="form-group">
            <label>Valor Previsto para Passagem (BRL)</label>
            <input
            type="text"
            name="valorPrevistoPassagem"
            [(ngModel)]="viagem.valorPrevistoPassagem"
            required
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            >
          </div>

          <div class="form-group">
            <label>Valor Gasto com Passagem (BRL)</label>
            <input
            type="text"
            name="valorGastoPassagem"
            [(ngModel)]="viagem.valorGastoPassagem"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            >
          </div>
        </div>

        <div class="form-pair">
          <div class="form-group">
            <label>Valor Previsto para Transporte (BRL)</label>
            <input
            type="text"
            name="valorPrevistoTransporte"
            [(ngModel)]="viagem.valorPrevistoTransporte"
            required
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            >
          </div>

          <div class="form-group">
            <label>Valor Gasto com Transporte (BRL)</label>
            <input
            type="text"
            name="valorGastoTransporte"
            [(ngModel)]="viagem.valorGastoTransporte"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            >
          </div>
        </div>

        <div class="form-pair">
          <div class="form-group">
            <label>Valor Previsto para Compras (BRL)</label>
            <input
            type="text"
            name="valorPrevistoCompras"
            [(ngModel)]="viagem.valorPrevistoCompras"
            required
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            >
          </div>

          <div class="form-group">
            <label>Valor Gasto com Compras (BRL)</label>
            <input
            type="text"
            name="valorGastoCompras"
            [(ngModel)]="viagem.valorGastoCompras"
            required
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
            >
          </div>
        </div>

        <div class="form-group">
          <div class="wrapper-buttons-detail">
            <button class="btn waves-effect waves-light darken-4" type="submit" (click)="salvar()">Salvar</button>
            <button class="btn waves-effect waves-light darken-4" type="button" (click)="cancelar()">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
