.btn {
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.wrapper-button-cad {
  display: flex;
  align-items: center;
  justify-content: center;
}
