.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

thead {
  background: var(--primary);
  color: var(--text-form);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn-action {
  background: var(--primary);
  color: var(--text-form);
  margin: 5px;
}
